.display_row{
     width: 100%;
}
.logo{
     display: flex;
     justify-content: center;
     align-items: center;
}
.login{
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
}