.card_div{
     background: white;
     padding: 20px;
     cursor: pointer;
     margin: 15px 10px;
     box-shadow: 0px 0px 5px 1px rgba(212, 206, 234, 0.7);
     border-radius: 10px;
}

.card_text{
     font-size: 14px;
     font-weight: 500;
     line-height: 30px;
}